.env
.vscode/*
node_modules/*
package.json
package-lock.json

questions-service/dist/*
questions-service/node_modules/*
questions-service/.env
questions-service/Portainer.yml
questions-service/package-lock.json

auth-service/dist/*
auth-service/node_modules/*
auth-service/.env
auth-service/Portainer.yml
auth-service/package-lock.json
